@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h3 {
    @apply mb-8 text-darkGrayishBlue text-4xl font-bold md:text-5xl;
  }
  h5 {
    @apply mb-2 text-darkGrayishBlue text-2xl font-bold;
  }
}

.section-container {
  @apply max-w-6xl mx-auto text-center p-10;
}

.section-content {
  @apply max-w-3xl mx-auto text-center text-xl text-grayishBlue leading-9;
}

.button-container {
  @apply p-4 px-8 rounded-full shadow-lg  duration-200 hover:opacity-80;
}

.butt body {
  background-image: url(../images/bg-header-desktop.png);
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 576px) {
  body {
    background-image: url(../images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.ficon:hover {
  filter: invert(53%) sepia(68%) saturate(434%) hue-rotate(121deg)
    brightness(101%) contrast(94%);
}
